{{> head}}

<body>
{{> navbar}}

<div class="container">
    {{{ body }}}
</div>

    <script type="text/javascript" src="/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
</body>

</html>

