<div class="row">
    <form action="/subjects/lessons/create/{{subId}}" method="POST" class="col s12">
        <h2>Ավելացնել թեմա</h2>
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="topic">
                <label>Թեմա</label>
            </div>

            <div class="input-field col s6">
                <select name="type" id="lecturer_id">
                    <option value="" disabled selected>Ընտրել Տեսակը</option>
                    <option value="Դասախոսություն">Դասախոսություն</option>
                    <option value="Գործնական">Գործնական</option>
                    <option value="Լաբորատոր">Լաբորատոր</option>
                    <option value="Միջանկյալ">Միջանկյալ</option>
                    <option value="Ստուգարք">Ստուգարք</option>
                    <option value="Քննություն1">Քննություն 1</option>
                    <option value="Քննություն2">Քննություն 2</option>
                </select>
                <label>Ընտրել դասախոս</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="date">
                <label>Ամսաթիվ</label>
            </div>
        </div>

        <div class="btn-padding">
            <button type="submit" class="btn-small">Ավելացնել</button>
        </div>
    </form>
</div>
