<form action="/groups/create" method="POST">
    <h2>Ստեղծել խումբ</h2>

    <div class="input-field">
        <input type="text" name="name">
        <label>Խմբի անուն</label>
    </div>

    <button type="submit" class="btn">Ստեղծել</button>
</form>
