<form action="/groups/students/create/{{groupId}}" method="POST">
    <h2>Create student</h2>

    <div class="input-field">
        <input type="text" name="fullName">
        <label>Անուն, ազգանուն</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>
