<form action="/subjects/create" method="POST">
    <h2>Create subject</h2>

    <div class="input-field">
        <input type="text" name="name">
        <label>Subject name</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>
