<form action="/students/create" method="POST">
    <h2>Create student</h2>

    <div class="input-field">
        <input type="text" name="fullName">
        <label>Student name</label>
    </div>

    <div class="input-field">
        <input type="text" name="group">
        <label>Student group</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>
