<form action="/update/{{todo._id}}" method="POST">
    <h2>Update {{todo.title}}</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>

    <button type="submit" class="btn">Update</button>
</form>

