
<form action="/groups/students/{{group._id}}/{{student._id}}" method="POST">
    <h2>{{student.fullName}}</h2>

    <div class="input-field">
        <input type="text" name="fullName" value="{{student.fullName}}">
        <label>Անուն, ազգանուն</label>
    </div>

    <button type="submit" class="btn">Փոփոխել</button>
</form>
